body{
    background-color: rgb(183, 190, 167);
  }
  #event1{
    background-color: lightgrey;
    width: 200px; 
    padding: 50px;
    margin: 20px;
    display: inline-flexbox;
    font-style:oblique;
    font-size: x-large;
  }
  #event2 {
    background-color: lightgrey;
    width:200px;
    padding: 50px;
    margin: 20px;
    display: inline-flexbox;
    font-style:oblique;
    font-size: x-large;
  }
  #event3 {
    background-color: lightgrey;
    width: 200px;
    padding: 50px;
    margin: 20px;
    display:inline-flexbox;
    font-style: oblique;
    font-size: x-large;

  
  }